.main {
    flex-grow: 1;
    position: relative;
    border: 2px solid rgb(190, 253, 255, 0.1);
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px 100px 0 0;
    column-gap: 50px;
    max-height: 750px;

    @media (max-width: 1700px) {
        padding: 20px 50px 0 0;
    }

    @media (max-width: 1300px) {
        max-height: 600px;
    }

    @media (max-width: 1000px) {
        padding: 20px 0 0 0;
    }

    @media (max-width: 950px) {
        max-height: 500px;
    }

    @media (max-width: 750px) {
        max-height: 400px;
    }

    @media (max-width: 650px) {
        border-radius: 20px;
        flex-direction: column-reverse;
        max-height: 800px;
        padding: 0;
        margin: 7px 0;
    }

    @media (max-width: 380px) {
        max-height: 700px;
    }
}


.main-bg {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
}

.main-bg-swiper {
    height: 100%;

    .react-swipeable-view-container {
        height: 100%;
    }
}

.main-bg__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: 1s show, 40s scale;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

.main__left {
    display: flex;
    position: relative;
    align-self: normal;
    flex: 1 1 50%;
    z-index: 2;

    @media (max-width: 650px) {
        max-height: 400px;
    }
}


.main__left-img-slide {
    padding-left: 100px;
    position: relative;
    display: flex;
    flex-grow: 1;

    @media (max-width: 1700px) {
        padding-left: 50px;
    }

    @media (max-width: 800px) {
        padding-left: 25px;
    }

    @media (max-width: 650px) {
        padding-right: 25px;
        justify-content: center;
    }
}

.main__left-img-character {
    max-height: 100%;
    z-index: 2;
    position: relative;
    align-self: flex-end;
}

.main__left-ellipse {
    position: absolute;
    width: 350px;
    height: auto;

    @media (max-width: 1800px) {
        width: 50%;
    }

    @media (max-width: 1300px) {
        width: 280px;
    }

    @media (max-width: 1050px) {
        width: 47%
    }

    @media (max-width: 650px) {
        width: 235px;
    }

    @media (max-width: 450px) {
        width: 45%;
    }

    @media (max-height: 900px) and (min-width: 900px) {
        width: auto !important;
        height: 50% !important;
    }
}

.main__left-ellipse_slide1_ellipse1 {
    top: 130px;
    right: 35%;


    @media (max-width: 1800px) {
        top: initial;
        right: 30%;
        bottom: 25%;
    }

    @media (max-width: 1300px) {
        right: initial;
        left: 140px;
    }

    @media (max-width: 1050px) {
        left: 20%;
    }

    @media (max-height: 900px) and (min-height: 650px) and (min-width: 900px) {
        left: 19vh;
    }

    @media (max-width: 650px) {
        top: 70px;
        left: 20%;
        right: initial;
    }

}

.main__left-ellipse_slide1_ellipse2 {
    bottom: 50px;
    right: 5%;

    @media (max-width: 1800px) {
        right: 0;
    }

    @media (max-width: 1300px) {
        right: initial;
        left: 330px;
    }

    @media (max-width: 1050px) {
        left: 50%;
        bottom: 20px;
    }

    @media (max-height: 900px) and (min-height: 650px) and (min-width: 900px) {
        left: 37vh;
    }

    @media (max-height: 700px) and (min-width: 950px) {
        bottom: 10px;
    }

    @media (max-width: 650px) {
        bottom: 10px;
        left: 50%;
        right: initial;
    }

}

.main__left-ellipse_slide2_ellipse1 {

    bottom: 210px;
    right: 43%;
    width: 40%;
    height: auto;

    @media (max-width: 1300px) and (min-width: 1150px) and (min-height: 900px) {
        width: 300px;
        left: 80px;
        right: initial;
    }

    @media (max-width: 1150px) {
        bottom: 35%;
        right: 47%;
    }

    @media (max-width: 800px) {
        top: initial;
        bottom: 30%;
    }

    @media (max-width:650px) {
        width: 235px;
        height: auto;
        top: 40px;
        right: 50%;
    }

    @media (max-width:525px) {
        width: 42%;
        top: 70px;
    }

    @media (max-height: 755px) and (min-width: 1000px) {
        left: 210px;
        right: initial;
        top: initial;
        bottom: 10%;
    }

    @media (max-height: 900px) and (min-height: 755px) and (min-width: 1150px) {
        left: 10%;
        right: initial;
    }

}

.main__left-ellipse_slide2_ellipse2 {
    bottom: 50px;
    right: 20%;
    width: 40%;
    height: auto;

    @media (max-width: 1300px) and (min-width: 1150px) {
        bottom: 10px;
        width: 300px;
        left: 310px;
        right: initial;
    }

    @media (max-width: 800px) {
        bottom: 20px;
        right: 10%;
    }

    @media (max-width:650px) {
        width: 235px;
        height: auto;
        right: 23%;
    }

    @media (max-width:525px) {
        width: 42%;
    }

    @media (max-height: 755px) and (min-width: 1000px) {
        left: 10%;
        right: initial;
        bottom: 30%;
    }
}

.main__left-slide2-flame {
    position: absolute;
    width: 232px;
    height: auto;
    top: 20px;
    right: 130px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media (max-width: 1150px) {
        width: 35%;
        right: 17%;
        bottom: 22vw;
        top: initial;
    }

    @media (max-height: 700px) {
        width: 139px;
        right: 80px;
    }

    @media (max-width: 650px) {
        width: 125px;
        right: 105px;
        top: 60px;
    }

    @media (max-width: 525px) {
        width: 25%;
        right: 20%;
        top: 18%;
    }

    @media (max-height: 800px) and (min-width: 650px) {
        width: auto;
        height: 40%;
        bottom: unset;
        top: 10%;
    }
}

%main__left-slide2-item {
    position: absolute;
    width: 92px;
    height: auto;
    right: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media (max-width: 1150px) {
        width: 12%;
        top: initial;
    }

    @media (max-height: 700px) {
        width: 60px;
    }

    @media (max-width: 650px) {
        width: 50px;
    }

    @media (max-width: 525px) {
        width: 12%;
    }

    @media (max-height: 800px) and (min-height: 700px) and (min-width: 650px) {
        width: 60px;
        bottom: unset !important
    }
}

.main__left-slide2-g22 {
    @extend %main__left-slide2-item;
    top: 0;

    @media (max-width: 1150px) {
        bottom: 41vw;
        top: initial;
    }

    @media (max-height: 700px) {
        top: 10px
    }

    @media (max-width: 650px) {
        right: 200px;
        top: 0;
    }

    @media (max-width: 525px) {
        right: 40%;
    }

    @media (max-height: 800px) and (min-height: 700px) and (min-width: 650px) {
        top: 20px !important;
    }
}

.main__left-slide2-mac10 {
    @extend %main__left-slide2-item;
    top: 115px;

    @media (max-width: 1150px) {
        bottom: 31vw;
        top: initial;
    }

    @media (max-height: 700px) {
        top: 90px
    }

    @media (max-width: 650px) {
        right: 140px;
        top: 0;
    }

    @media (max-width: 525px) {
        right: 26%;
    }

    @media (max-height: 800px) and (min-height: 700px) and (min-width: 650px) {
        top: 100px !important;
    }
}

.main__left-slide2-butterfly {
    @extend %main__left-slide2-item;
    top: 230px;

    @media (max-width: 1150px) {
        bottom: 21vw;
        top: initial
    }

    @media (max-height: 700px) {
        top: 170px
    }

    @media (max-width: 650px) {
        right: 80px;
        top: 0;
    }

    @media (max-width: 525px) {
        right: 12%;
    }

    @media (max-height: 800px) and (min-height: 700px) and (min-width: 650px) {
        top: 180px !important;
    }
}

.main__left-ellipse_slide3_ellipse1 {
    top: 175px;
    right: 36%;
    height: auto;

    @media (max-width: 1800px) {
        width: 45%;
        right: 38%;
        top: initial;
        bottom: 160px;
    }

    @media (max-width: 1300px) and (min-width: 1150px) {
        right: initial;
        bottom: 200px;
        left: 150px;
        width: 280px;
    }

    @media (max-width: 750px) {
        top: 100px;
    }

    @media (max-width: 650px) {
        top: 70px;
    }

    @media (max-width:525px) {
        width: 42%;
    }

    @media (max-width: 1300px) and (min-width: 950px) and (max-height:750px) {
        right: initial;
        bottom: 130px;
        left: 130px;

    }
}

.main__left-ellipse_slide3_ellipse2 {
    bottom: 20px;
    right: 10%;

    @media (max-width: 1300px) and (min-width: 1150px) {
        left: 380px;
    }

    @media (max-width: 650px) {
        bottom: 10px;
        right: 12%;
    }

    @media (max-width:525px) {
        width: 42%;
    }

    @media (max-width: 1300px) and (min-width: 950px) and (max-height:750px) {
        left: 300px;
    }
}

.main__left-slide3-target {
    position: absolute;
    width: 32%;
    height: auto;
    right: 0;
    bottom: 25vw;

    @media (max-width: 1300px) and (min-width: 1150px) {
        top: 100px;
        width: 200px;
        left: 500px;
    }

    @media (max-width: 1150px) {
        width: 30%;
        bottom: 32vw;
        top: initial;
    }

    @media (max-width: 650px) {
        top: 0;
        width: 120px;
        right: 13%;
    }

    @media (max-width: 525px) {
        width: 25%;
        top: 10%
    }

    @media (min-width: 1000px) and (max-height:850px) and (min-height: 650px) {
        width: auto;
        height: 15%;
        top: 90px;
    }
}

.main__left-slide3-arrows {

    .main__left-slide3-arrow {
        position: absolute;
        width: 50px;
        height: auto;

        @media (max-width: 750px) {
            width: 33px;
        }

        @media (max-width: 650px) {
            width: 37px;
        }

        @media (max-width: 525px) {
            width: 7%;
        }
    }

    .main__left-slide3-arrow:nth-child(1) {
        right: 13%;
        bottom: 0;

        @media (max-width: 650px) {
            right: 22%;
            bottom: 0
        }
    }

    .main__left-slide3-arrow:nth-child(2) {
        right: 14%;
        bottom: 150px;

        @media (max-width: 1000px) {
            right: 12%;
            bottom: 80px;
        }

        @media (max-width: 650px) {
            right: 19%;
        }

        @media (max-width: 525px) {
            right: 15%;
            bottom: 70px;
        }
    }

    .main__left-slide3-arrow:nth-child(3) {
        right: 23%;
        bottom: 70px;

        @media (max-width: 650px) {
            right: 28%;
            bottom: 40px;
        }
    }

    .main__left-slide3-arrow:nth-child(4) {
        right: 64%;
        bottom: 105px;

        @media (max-width: 650px) {
            right: 62%;
            bottom: 55px
        }

        @media (max-width: 525px) {
            bottom: 40px;
        }
    }

    .main__left-slide3-arrow:nth-child(5) {
        right: 75%;
        bottom: 25px;

        @media (max-width: 650px) {
            right: 72%;
            bottom: 10px
        }
    }

    .main__left-slide3-arrow:nth-child(6) {
        right: 60%;
        top: 180px;

        @media (max-width: 1300px) {
            top: 100px;
        }

        @media (max-width: 650px) {
            top: 80px;
        }
    }

    .main__left-slide3-arrow:nth-child(7) {
        right: 77%;
        top: 285px;

        @media (max-width: 1300px) {
            right: 75%;
            top: 220px;
        }

        @media (max-width: 650px) {
            right: 72%;
            top: 150px
        }

        @media (max-width: 525px) {
            top: 130px
        }
    }

    .main__left-slide3-arrow:nth-child(8) {
        right: 78%;
        top: 160px;

        @media (max-width: 650px) {
            right: 74%;
            top: 70px
        }
    }
}

.main__right {
    font-size: 60px;
    flex: 1 1 50%;
    min-height: 289px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    max-width: 863px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'UniSans Thin';

    @media (max-width: 1700px) {
        font-size: 50px;
        min-height: 253px;
    }

    @media (max-width: 1300px) {
        max-width: 300px;
        font-size: 37px;
        min-height: 250px;
    }

    @media (max-width: 800px) {
        max-width: 220px;
        font-size: 27px;
        min-height: 190px;
    }

    @media (max-width: 650px) {
        font-size: 40px;
        min-width: 100%;
        padding: 60px 30px 40px 30px;
        min-height: 305px;
    }

    @media (max-width: 450px) {
        font-size: 35px;
        min-height: 287px;
    }

    @media (max-width: 400px) {
        font-size: 30px;
        padding: 30px 20px 30px 20px;
        min-height: 226px;
    }
}

.main__right-btns {
    position: relative;
    margin-top: 40px;

    @media (max-width: 400px) {
        margin-top: 20px;
    }
}

@mixin main__right-btn($left) {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px #fff solid;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: $left;

    @media (max-width: 400px) {
        width: 13px;
        height: 13px;
    }
}

.main__right-btn1 {
    @include main__right-btn(0);
}


.main__right-btn2 {
    @include main__right-btn(40px);

    @media (max-width: 400px) {
        @include main__right-btn(30px);
    }
}

.main__right-btn3 {
    @include main__right-btn(80px);

    @media (max-width: 400px) {
        @include main__right-btn(60px);
    }
}