.second-slide-inner {
    @media (max-width: 1050px) {
        min-width: 100%;
        min-height: unset;
    }
}

.reg__top_second-slide {
    @media (max-width: 550px) {
        font-size: 6vw !important;
    }
}

.reg__bottom_second-slide {
    button {
        @media (max-width: 550px) {
            font-size: 18px !important;
        }
    }
}

.form {
    width: 100%;
}

.form-container {
    padding: 10px 80px;

    @media (max-width: 1050px) {
        padding: 10px;
    }
}

.form__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 18px;

    @media (max-width: 500px) {
        row-gap: 35px;
    }
}

.form-section__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: flex-end;
    font-family: 'UniSans Regular';
}

.form-section__top-label {
    font-size: 20px;
    margin-bottom: 5px;
}

.form-section__top-helper-text {
    font-size: 19px !important;
}

.form-section__top-helper-text,
.form-section__top-label {
    @media (max-width: 500px) {
        font-size: 16px !important;
    }

    @media (max-width: 400px) {
        font-size: 15px !important;
    }

    @media (max-width: 350px) {
        font-size: 14px !important;
    }
}

.form-section__input {
    width: 100%;

    input {
        color: #fff;
        padding: 20px 40px;
        text-align: center;
        font-size: 20px;
        border-radius: 10px;

        @media (max-width: 500px) {
            padding: 15px 40px;
            font-size: 17px;
        }
    }
}